<%= turbo_stream_from :rooms %>

<div class="box page_limiter">
  <h2>List of all rooms
    <% if user_signed_in? %>
      <%= form_with model: @new_room do |f| %>
        <%= f.text_field :title, placeholder: "chat_name" %>
        <%= f.submit 'New room' %>
      <% end %>
    <% end %>
  </h2>
  <ul>

    <%= turbo_frame_tag :rooms do %>
      <%= render @rooms %>
    <% end %>
  </ul>
</div>

